
<link href="/css/homeHeaderBar.css" rel="stylesheet"/>

<div class="home-header-bar">
    <div class="container h-100 d-flex align-items-center justify-content-end">
        <a href="/users/logout" class="text-black text-decoration-none">Sign Out</a>
    </div>
</div>