.student-name {
    position: relative;
}

.student-names-list {
    position: absolute;
    top: 75px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    background: white;
    box-shadow: 0 0 10px #9b9898;
}

.student-names-item {
    margin: 0;
    box-sizing: border-box;
    padding: 5px 10px;
    cursor: pointer;
}

.student-names-item:hover {
    background: gainsboro;
}