
.wrapper {
    margin: auto;
    margin-top: 10vh;
    width: 700px;
    height: 500px;
    background: white;
    /* background:url("../Images/login_register_background.png"); */
    border-radius: 10px;
    box-shadow: 0 0 10px gainsboro;
    overflow: hidden;
}

.tipWrapper {
    background: #4F5D73;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
}

.tipWrapper h3 {
    padding:1rem;
}

.formWrapper {
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
}