body {
    background: whitesmoke;
}

.wrapper {
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 10px;
    height: 80vh;
    background: white;
}

.stories {
    display:flex;
}

.individualStory { 
    margin-right: 2rem;

}

.class-card {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.create-class {
    cursor: pointer;
}

.create-class > i {
    font-size: 40px;
}