<%- include('../partials/header')%>
<link href="/css/teacherHome.css" rel="stylesheet" />
<body>
<%- include('../partials/homeHeaderBar')%>
<div class="container wrapper">
    <div class="row">
        <div class="col-2">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="bi bi-arrow-left"></i>
                        Back
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/class/<%=classID%>/students">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/class/<%=classID%>/stories">Stories</a>
                </li>
            </ul>
        </div>
        <div class="col-10">

        </div>
    </div>
</div>
</body>
