<%- include('../partials/header')%>

<link href="/css/teacherHome.css" rel="stylesheet" />

<body>
    
    <%- include('../partials/homeHeaderBar')%>
    <div class="container wrapper">
        <div class="row">

            <div class="col-2">
                <ul class="nav nav-pills flex-column">
                    
                    <li class="nav-item">
                        <a href="/home" class="nav-link">
                            <i class="bi bi-arrow-left"></i>
                            Back
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/home">Classes</a>
                    </li>
                    <li class="nav-item">
                        <a href="/profile/teacher" class="nav-link">Profile</a>
                    </li>
                </ul>
            </div>

            <div class="col-10">
                <h3>Create Class</h3>
                <form action="/class/create" method="post" class="w-25">
                    <div class="mb-3">
                        <label class="form-label">Class Name</label>
                        <input required name="name" class="form-control" placeholder="Enter class name"/>
                    </div>
                    <div class="mb-3">
                        <a href="/home" class="btn btn-light me-2">Cancel</a>
                        <button class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>

</body>