<%- include('../partials/header'); %>
    <link href= "/public/CSS/home.css" rel="stylesheet" type="text/css" />

    <div id="page-home">
        <div id="homepage-cover">
            <div class="container">
                <h1>Differentiate your classroom and <br/>engage Every student.</h1>
            </div>
        </div>
    </div>
