<%- include('../partials/header')%>

<link href="/css/home.css" rel="stylesheet" />

<body>
    
    <%- include('../partials/headerBar')%>
    <div class="container-fluid wrapper">
        <h1 class="p-5 fw-bold">
            Differentiate your classroom and engage
            <br />
            Every student.
        </h1>
    </div>

</body>