<%- include('../partials/header')%>
<body>
    <form class="container" action="/users/login" method="post">
        <a href="/users/register">Register</a>
        <h1 class="mt-5 text-center">Login</h1>
        <input name="username" placeholder="Enter username" />
        <input name="password" placeholder="Enter password" type="password" />
        <button>Sign In</button>
    </form>
</body>