<%- include('../partials/header')%>
<body>
<form class="container" action="/users/register" method="post">
    <a href="/users/login">Login</a>
    <h1 class="mt-5 text-center">Register</h1>
    <input name="name" placeholder="Enter username" />
    <input name="email" type="email" placeholder="Enter email" />
    <input name="password" placeholder="Enter password" type="password" />
    <input name="confirm_password" placeholder="Enter confirm password" type="password" />
    <button>Sign Up</button>
</form>
</body>